/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Mooli, sans-serif;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	/*background-image: url(./images/bg.jpg);

	background-size: cover;
	background-repeat: no-repeat;*/

	background-color: #CDF5FD;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

ul {
	list-style-type: none;
}

.navbar {
	background-color: #89CFF3;
	font-size: 1.25rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-item {
	float: right;
}

.nav-item a {
	padding: 0 25px 0 25px;
}

.custom-image {
	width: 200px;
	height: auto;
}

.tools-icons {
	height: 175px;
	width: 175px;
}

.contact-icons {
	height: 50px;
	width: 50px;
}

#jp {
	font-family: 'Cedarville Cursive', cursive !important; 
	font-size: 2.5rem;
}

#landing {
	background-color: #CDF5FD;
}




