/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Mooli, sans-serif;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(./images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


#landing {
	background-color: #00008B;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.custom-image {
	width: 200px;
	height: auto;
}

#fb {
	height: 50px;
	width: 50px;
}

#github {
	height: 50px;
	width: 50px;
}

#linkedin {
	justify-content: ;
	height: 50px;
	width: 50px;
}

#html {
	justify-content: ;
	height: 200px;
	width: 200px;
}

#css {
	justify-content: ;
	height: 200px;
	width: 200px;
}

#js {
	justify-content: ;
	height: 200px;
	width: 200px;
}

#sublime {
	justify-content: ;
	height: 175px;
	width: 175px;
}


